<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tasks</title>
</head>
<body>
  <h1>My Tasks</h1>

  <div id="task-list"></div>

  <h2>Add a New Task</h2>
  <form id="new-task-form">
    <input type="text" id="new-task-desc" placeholder="Task description" required>
    <button type="submit">Add Task</button>
  </form>

  <button onclick="logOut()" id="log-out-button">Log Out</button>

  <div id="message"></div>
  <div id="error-message"></div>

  <script src="../static/main.js"></script>
</body>
</html>